# python builds
__pycache__
*.pyc
build
_build

# setup.py outputs
dist
*.egg-info
*.log
logs

# pytest outputs
.eggs
.pytest-cache

# common ide metadata
.vscode
.idea
*.iml

# common virtualenv names
venv
virtualenv

